@font-face {
	font-family: 'teligraphico';
	src: url('../fonts/telegrafico_by_ficod-webfont.eot');
	src: local('☺'), url('../fonts/telegrafico_by_ficod-webfont.woff') format('woff'), url('../fonts/telegrafico_by_ficod-webfont.ttf') format('truetype'), url('../fonts/telegrafico_by_ficod-webfont.svg#webfontaOSRKgI5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nordic';
	src: url('../fonts/ptf-nordic-rnd-webfont.eot');
	src: local('☺'), url('../fonts/ptf-nordic-rnd-webfont.woff') format('woff'), url('../fonts/ptf-nordic-rnd-webfont.ttf') format('truetype'), url('../fonts/ptf-nordic-rnd-webfont.svg#webfontFdJ0z5Wx') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family: verdana, sans-serif;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }


/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#444; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }


a:hover { color:#036; }


ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }





 /* Primary Styles
    Author: 
 */
 a {
     color: #808080;
     text-decoration: none;
     -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;
    transition:color 0.2s ease-in;
}

a:hover {
     color: #333;
     -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;
    transition:color 0.2s ease-in;
}
 .container {
     width:960px;
     margin: auto;
}

#main {
    width:420px;
    float: right;
    background-color: rgb(244, 239, 233);
    background-color: rgba(244, 239, 233, 0.85);
    padding: 150px 60px 30px 60px;
    min-height: 100%;
}



body {
    background-image: url('../../images/back.jpg');
    background-position: top;
    background-attachment: fixed;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%;
}

article {
    margin-bottom: 25px;
        font-size: 11px;
    line-height: 17px;
}

/*

Header Styles

*/

body>header {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgba(158, 138, 111, 0.18);
    height:120px;
    position: fixed;
}

body>header h1 {
    font-family: nordic, sans-serif;
    font-size: 57px;
    color: #f4efe9;
    margin-top: 20px;
    margin-bottom: -7px;
    font-weight: normal;
}

body>header a {
     color: #f4efe9;
     text-decoration: none;
     -webkit-transition:color 0.2s ease-in;
     -moz-transition:color 0.2s ease-in;
     -o-transition:color 0.2s ease-in;
      transition:color 0.2s ease-in;
}

body>header a:hover {
    color: #333;
    -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;
    transition:color 0.2s ease-in;
}

body>header p {
    color: #333;
    font-family: teligraphico, sans-serif;
    font-size: 18.50px;
}

/*

Main Menu Styles

*/

#sidebar {
    position: fixed;
    margin-left: 210px;
    margin-top: 150px;
    text-align: right;
}

nav li {
    font-family: teligraphico, sans-serif;
    font-size: 35px;
}

nav li a {
    color: #f4efe9;
}

nav li li {
    font-size: 12px;
}

li.current_page_item a{
     color: #333;
}

li.current_page_item ul>li a{
     color: #f4efe9;
}


li.current-category-ancestor a{
    color: #333;
}

nav>div>ul>li.current-menu-parent>a {
    color:#333;
}

.fade:hover {
    opacity:0.5;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}

.fade {
     -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}


/*

Post Styles

*/

time {
    color: #808080;
    font-family: teligraphico, sans-serif;
    font-size: 12px;
}



article h1 {
    color: #333;
    font-family: teligraphico, sans-serif;
    font-size: 18.50px;
    font-weight: normal;
    margin: 0 0 15px 0;
}

article h1 a{
    color: #333;
    text-decoration: none;
}

article h1 a:hover {
    color: #808080;
}

article h2 {
margin-bottom: 12px;
font-size: 14px;
font-family: 'teligraphico', sans-serif;
}

article h3 {
margin-bottom: 10px;
font-size: 12px;

}

article h4 {
margin-bottom: 10px;
}

article p, article ol, article ul {
    margin-bottom: 10px;
}

/*

Newer and Older Links

*/

#older,#newer {
    font-size: 11px;
    font-family: verdana, sans-serif;
}

#newer {
    float: right;
}

#older {
    float: left;
}

/*

Comments

*/

.commentlist, .children {
    list-style: none;
}

/*

Forms

*/

label{
width:100%;
display: block;
padding:10px 0 10px 0;

}

label span{
display: block;
font-size:12px;
float:left;
width:80px;
text-align:left;
padding:5px 20px 0 0;
font-family: verdana, sans-serif;
font-size: 11px;
}

input[type="text"],input[type="email"],input[type="url"]{
     background-color: rgb(158, 138, 111);
    background-color: rgba(158, 138, 111, 0.18);
padding:5px 5px;
width:308px;
border: 1px double #333;

}

textarea{
    background-color: rgb(158, 138, 111);
    background-color: rgba(158, 138, 111, 0.18);
font-family: "Molengo",Arial, sans-serif;
    padding:7px 7px;
width:304px;
border: 1px double #333;
height:150px;
max-width: 304px;
}

input[type="submit"] {
    background-color: rgb(158, 138, 111);
    background-color: rgba(158, 138, 111, 0.18);
    border: 1px double #333;
    padding: 5px 10px;
    float: right;
    -webkit-transition:background-color 0.2s ease-in;
    -moz-transition:background-color 0.2s ease-in;
    -o-transition:background-color 0.2s ease-in;
    transition:background-color 0.2s ease-in;
}

input[type="submit"]:hover {
    background-color: rgb(244, 239, 233);
    background-color: rgba(244, 239, 233, 0.85);
    -webkit-transition:background-color 0.2s ease-in;
    -moz-transition:background-color 0.2s ease-in;
    -o-transition:background-color 0.2s ease-in;
    transition:background-color 0.2s ease-in;
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}